<main role="main">

    <div class="bg-light">
        <div class="container">

            <div class="row">
                <div class="col mb-3">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Procurar..." aria-label="Barra de procurar" aria-describedby="button-addon">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon">Procurar</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <router-outlet></router-outlet>
</main>