/* You can add global styles to this file, and also import other style files */

.lightblue {
    background-color: lightblue;
}

.lightgreen {
    background-color: lightgreen;
}

.lightcoral {
    background-color: lightcoral;
}