<section class="jumbotron">
    <div class="container">
        <h1 class="display-4">Title</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et lorem eu lectus faucibus consequat non sed nibh. Mauris molestie quam quis ultricies semper.</p>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-md-4" *ngFor="let product of productCatalog">
            <div class="card mb-4">
                <img src="{{ product.imgUrl }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ product.title }}</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a [routerLink]="['/product/', product.id]" class="btn btn-outline-success">Comprar</a>
                        </div>
                        <small class="text-muted">$ {{ product.price }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>