<main role="main">

    <section class="jumbotron text-light cornflowerblue">
        <div class="container">
            <h1 class="display-4">Market</h1>
            <p class="lead">Market é um e-commerce fictício para representação de um sistema distribuído. Nenhum produto aqui está sendo realmente vendido e algumas funções de um e-commerce real não estão habilitadas ou em funcionamento por não fazer parte do conteúdo proposto pela referência bibliográfica.</p>
        </div>
    </section>

    <div class="">
        <div class="container">

            <div class="row">
                <div class="col mb-3">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Procurar..." aria-label="Barra de procurar" aria-describedby="button-addon">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon">Procurar</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <router-outlet></router-outlet>
    
</main>