<nav class="navbar navbar-expand-md navbar-dark lightgreen">
    <a class="navbar-brand" routerLink="/">Organic Food Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" arial-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">Policy</a>
            </li>
        </ul>
        <button [routerLink]="['/cart']" type="button" class="btn btn-success">
            &#127805; <!-- <span class="badge badge-light">{{ cartItemLength }}</span> -->
        </button>
    </div>
</nav>