<div class="container" *ngIf="product">

    <div class="row">
        <div class="col">
            <h1 class="page-header">{{ product.title }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">{{ product.type }}</a></li>
                    <li class="breadcrumb-item" aria-current="page">{{ product.title }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-8 mb-3">
            <img class="img-fluid" src="{{ product.imgUrl }}">
        </div>

        <div class="col-md-4 mb-3">
            
            <div class="container">
                
                <div class="row">
                    <h4 class="text-muted">Preço</h4>
                </div>

                <div class="row">
                    <h2 class="text-success mb-3">$ {{ product.price }}</h2>
                </div>

                <div class="row">
                    <div class="btn-group">
                        <button (click)="addToCart(product.id, product.imgUrl, product.price, product.title, 1)"
                            class="btn btn-success">Comprar</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col">
            <h4 class="page-header">Bio</h4>
            <p>{{ product.bio }}</p>
        </div>
    </div>

</div>

<div class="container d-none">

    <div class="row">

        <div class="col-lg-12">
            <h4 class="page-header">Você pode gostar</h4>
        </div>

        <div class="col">
            <img class="img-fluid" src="../../../assets/image_2.jpg" />
        </div>

        <div class="col">
            <img class="img-fluid" src="../../../assets/image_3.jpg" />
        </div>

        <div class="col">
            <img class="img-fluid" src="../../../assets/image_4.jpg" />
        </div>

        <div class="col">
            <img class="img-fluid" src="../../../assets/image_1.jpg" />
        </div>

    </div>

</div>